In [3]:
"""
Loaded data from extended ion tests
"""

'\nLoaded data from extended ion tests\n'

#  FF logistics

FF requires <- pairs_data, data_frame, structures

pickle and do all jax on bach

In [4]:
#python ff_energy/ffe/cli.py -d -m ions_ext -t pbe0dz -e pc -v -msp /home/boittier/pcbach

In [5]:
# %load_ext autoreload
# %autoreload 2

from pathlib import Path
import seaborn as sns
import scipy as sp
import pandas as pd
import matplotlib.pyplot as plt

from ff_energy.latex_writer.report import Report
from ff_energy.latex_writer.energydata.energy_data_report import EnergyReport
from ff_energy.latex_writer.figure import Figure
from ff_energy.latex_writer.format import safe_latex_string
from ff_energy.utils.ffe_utils import read_from_pickle, pickle_output

from ff_energy.ffe.ff import FF
from ff_energy.ffe.constants import PKL_PATH, PDB_PATH
from ff_energy.ffe.potential import LJ, LJ_bound, DE #, DE_bounds

from ff_energy.ffe.data import pairs_data
from ff_energy.plotting.data_plots import DataPlots

2023-08-31 15:53:01 | DEBUG | __init__:process_initializer_module:72 - Initializing MLIR with module: _site_initialize_0
2023-08-31 15:53:01 | DEBUG | __init__:process_initializer_module:74 - Registering dialects from initializer <module 'jaxlib.mlir._mlir_libs._site_initialize_0' from '/home/boittier/miniconda3/envs/pycharmm/lib/python3.8/site-packages/jaxlib/mlir/_mlir_libs/_site_initialize_0.so'>
2023-08-31 15:53:01 | DEBUG | path:<module>:29 - etils.epath found. Using etils.epath for file I/O.

In [6]:
"""
Test loading the report from pkl
"""

'\nTest loading the report from pkl\n'

In [7]:
pkl_path = "/home/boittier/Documents/phd/ff_energy/pickles/energy_report.pkl"
er = pd.read_pickle(pkl_path)
# er.add_data()

In [24]:
er.data_plots[0].obj.pairs_df

,p_ENERGY,p_m1_ENERGY,p_m2_ENERGY,p_int_ENERGY,key,pair
test467_4_16,-152.718742,-76.359402,-76.358684,-0.000656,test467,"(4, 16)"
test467_2_12,-152.717266,-76.357394,-76.359906,0.000034,test467,"(2, 12)"
test467_4_5,-152.714677,-76.359402,-76.355286,0.000012,test467,"(4, 5)"
test467_5_16,-152.713801,-76.355286,-76.358684,0.000168,test467,"(5, 16)"
test467_4_20,-152.714093,-76.359402,-76.354903,0.000213,test467,"(4, 20)"
...,...,...,...,...,...,...
test66_3_5,-152.705818,-76.352102,-76.354001,0.000286,test66,"(3, 5)"
test66_2_20,-152.707280,-76.352639,-76.354519,-0.000122,test66,"(2, 20)"
test66_3_10,-152.711822,-76.352102,-76.359671,-0.000049,test66,"(3, 10)"
test66_4_15,-152.712115,-76.358842,-76.353240,-0.000033,test66,"(4, 15)"
test66_1_16,-152.717239,-76.358707,-76.358740,0.000208,test66,"(1, 16)"

In [23]:
eg_data = er.data_plots[0].data
eg_data

,ECOL,KEY,TOTAL,ELEC,VDW,KEY,M_ENERGY,KEY,n_monomers,C_ENERGY,n_pairs,intE,P_intE,m_E_tot,p_m_E_tot,C_ENERGY_kcalmol
test467,-113.436686,test467,21.55483,-53.42358,14.82881,test467,-1527.154217,test467,20,-1527.236629,190,-51.714066,-50.297664,958349.117867,-958295.211613,-958345.566652
test263,-159.213355,test263,19.76551,-80.17211,20.54380,test263,-1527.156016,test263,20,-1527.258259,190,-64.157783,-66.601357,958347.989140,-958296.144723,-958359.139096
test35,-138.530827,test35,22.57516,-66.12227,11.05221,test35,-1527.143158,test35,20,-1527.258584,189,-72.430230,-65.790457,958356.057316,-958288.376060,-958359.343368
test223,-85.840765,test223,23.27997,-40.47928,6.72946,test223,-1527.147556,test223,20,-1527.203106,190,-34.857221,-39.243367,958353.297326,-958290.449867,-958324.530348
test254,-157.431989,test254,24.42066,-82.00400,21.85417,test254,-1527.135568,test254,20,-1527.237145,188,-63.739697,-57.830990,958360.820083,-958283.041923,-958345.890067
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
test100,-120.244324,test100,23.76369,-66.03681,19.45476,test100,-1527.141372,test100,20,-1527.210157,190,-43.162995,-42.125801,958357.178250,-958287.528329,-958328.955198
test304,-123.903711,test304,21.68895,-69.20978,17.28253,test304,-1527.150985,test304,20,-1527.239633,189,-55.626955,-54.710834,958351.146070,-958293.116887,-958347.451339
test327,-195.846922,test327,19.73276,-103.42656,31.12436,test327,-1527.154084,test327,20,-1527.300559,190,-91.913853,-79.340573,958349.201570,-958295.335953,-958385.682737
test185,-114.232038,test185,24.07288,-60.27765,11.20177,test185,-1527.144999,test185,20,-1527.232387,190,-54.835874,-54.451833,958354.901870,-958289.053296,-958342.904458
test66,-134.531592,test66,24.71130,-72.99830,14.43453,test66,-1527.133226,test66,20,-1527.251024,190,-73.918366,-68.441739,958362.289538,-958282.383416,-958354.599282

# WATER

##  PC

In [10]:
eg_dcm_path_ = "/home/boittier/homeb/water_cluster/pbe0dz_pc/{}/charmm/dcm.xyz"
# dcm_path_="/home/boittier/homeb/water_cluster/pbe0dz_pc/{}/charmm/dcm.xyz",

In [11]:
data = er.data_plots[0].obj

In [12]:
pairs_out = pairs_data(data, 
           system = "water_cluster",
          name = "test",
          dcm_path_ = eg_dcm_path_,
)

2023-08-31 15:55:07 | WARNING | dispatch:log_elapsed_time:270 - Finished tracing + transforming jit(convert_element_type) in 0.000186920166015625 sec
2023-08-31 15:55:07 | DEBUG | xla_bridge:_init_backend:482 - Initializing backend 'interpreter'
2023-08-31 15:55:07 | DEBUG | xla_bridge:_init_backend:494 - Backend 'interpreter' initialized
2023-08-31 15:55:07 | DEBUG | xla_bridge:_init_backend:482 - Initializing backend 'cpu'
2023-08-31 15:55:07 | DEBUG | xla_bridge:_init_backend:494 - Backend 'cpu' initialized
2023-08-31 15:55:07 | DEBUG | xla_bridge:_init_backend:482 - Initializing backend 'cuda'
2023-08-31 15:55:07 | INFO | xla_bridge:backends:450 - Unable to initialize backend 'cuda': module 'jaxlib.xla_extension' has no attribute 'GpuAllocatorConfig'
2023-08-31 15:55:07 | DEBUG | xla_bridge:_init_backend:482 - Initializing backend 'rocm'
2023-08-31 15:55:07 | INFO | xla_bridge:backends:450 - Unable to initialize backend 'rocm': module 'jaxlib.xla_extension' has no attribute 'GpuAllocatorConfig'
2023-08-31 15:55:07 | DEBUG | xla_bridge:_init_backend:482 - Initializing backend 'tpu'
2023-08-31 15:55:07 | INFO | xla_bridge:backends:450 - Unable to initialize backend 'tpu': INVALID_ARGUMENT: TpuPlatform is not available.
2023-08-31 15:55:07 | DEBUG | xla_bridge:_init_backend:482 - Initializing backend 'plugin'
2023-08-31 15:55:07 | INFO | xla_bridge:backends:450 - Unable to initialize backend 'plugin': xla_extension has no attributes named get_plugin_device_client. Compile TensorFlow with //tensorflow/compiler/xla/python:enable_plugin_device set to true (defaults to false) to enable this.
2023-08-31 15:55:07 | WARNING | xla_bridge:backends:458 - No GPU/TPU found, falling back to CPU. (Set TF_CPP_MIN_LOG_LEVEL=0 and rerun for more info.)
2023-08-31 15:55:09 | WARNING | dispatch:log_elapsed_time:270 - Finished tracing + transforming jit(convert_element_type) in 0.00018024444580078125 sec
2023-08-31 15:55:22 | WARNING | dispatch:log_elapsed_time:270 - Finished tracing + transforming jit(convert_element_type) in 0.0001785755157470703 sec

In [14]:
pickle_output(pairs_out, "water_pc_pairs")

#  MDCM

In [17]:
eg_dcm_path_ = "/home/boittier/homeb/water_cluster/pbe0dz_mdcm/{}/charmm/dcm.xyz"
pairs_out = pairs_data(data, 
           system = "water_cluster",
          name = "mdcm",
          dcm_path_ = eg_dcm_path_,
)

2023-08-31 16:21:26 | WARNING | dispatch:log_elapsed_time:270 - Finished tracing + transforming jit(convert_element_type) in 0.00018668174743652344 sec
2023-08-31 16:21:34 | WARNING | dispatch:log_elapsed_time:270 - Finished tracing + transforming jit(convert_element_type) in 0.00018143653869628906 sec
2023-08-31 16:22:31 | WARNING | dispatch:log_elapsed_time:270 - Finished tracing + transforming jit(convert_element_type) in 0.00018310546875 sec

In [18]:
pickle_output(pairs_out, "water_mdcm_pairs")

#  pbe0dz_tip3

In [19]:
eg_dcm_path_ = "/home/boittier/homeb/water_cluster/pbe0dz_tip3/{}/charmm/dcm.xyz"
pairs_out = pairs_data(data, 
           system = "water_cluster",
          name = "tip3",
          dcm_path_ = eg_dcm_path_,
)

In [20]:
pickle_output(pairs_out, "water_tip3_pairs")

#  kMDCM

In [21]:
eg_dcm_path_ = "/home/boittier/homeb/water_cluster/pbe0dz_kmdcm/{}/charmm/dcm.xyz"
pairs_out = pairs_data(data, 
           system = "water_cluster",
          name = "kmdcm",
          dcm_path_ = eg_dcm_path_,
)

In [22]:
pickle_output(pairs_out, "water_kmdcm_pairs")

In [42]:
# dists = read_from_pickle(PKL_PATH / "structures" / "water_cluster.pkl")

In [43]:
# struct, dist = next(dists)

In [56]:
# ?FF

In [1]:
# ff_obj = FF(eg_data, 
#             dist,
#             LJ,
#             LJ_bound,
#             struct[0],
#            )

In [2]:
# pickle_output(ff_obj, "water_pc_ff_orig")