In [1]:
%load_ext autoreload
%autoreload 2

import numpy as np
import pandas as pd
import seaborn as sns
from scipy.stats import pearsonr
import matplotlib.pyplot as plt

from ff_energy.uncertainty.uncertainty_quantifier import UncertaintyQuantifier
from ff_energy.ffe.constants import FFEPATH
print(FFEPATH)

csv = FFEPATH / "datasets/silvan/criegee_mp2_avtz_gen3_randomselection_4305_ens6_all.dat"
print(csv)

/home/boittier/Documents/phd/ff_energy
/home/boittier/Documents/phd/ff_energy/datasets/silvan/criegee_mp2_avtz_gen3_randomselection_4305_ens6_all.dat

In [2]:
df = pd.read_csv(csv, delimiter="  ")

/tmp/ipykernel_197809/1288098332.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(csv, delimiter="  ")

In [3]:
df

,Eref,Ens,Model1,Model2,Model3,Model4,Model5,Model6
0,-30.302610,-30.303969,-30.304491,-30.304039,-30.303816,-30.302113,-30.304005,-30.305349
1,-29.555629,-29.556528,-29.553324,-29.556776,-29.560293,-29.550920,-29.560108,-29.557745
2,-28.771974,-28.771562,-28.760334,-28.771938,-28.784126,-28.766819,-28.775587,-28.770569
3,-28.264171,-28.267426,-28.245617,-28.263954,-28.294741,-28.272991,-28.266968,-28.260286
4,-28.074606,-28.091652,-28.057587,-28.087101,-28.126707,-28.107737,-28.098137,-28.072643
...,...,...,...,...,...,...,...,...
33397,-29.668227,-29.669304,-29.667955,-29.669159,-29.670647,-29.668480,-29.672123,-29.667458
33398,-29.431993,-29.432835,-29.433363,-29.432831,-29.431156,-29.433653,-29.436811,-29.429195
33399,-29.002758,-29.006098,-29.007973,-29.004765,-29.003111,-29.010780,-29.007494,-29.002464
33400,-28.620107,-28.628448,-28.628874,-28.625696,-28.629385,-28.635044,-28.623213,-28.628475
33401,-28.336721,-28.340919,-28.332203,-28.340576,-28.336515,-28.347521,-28.335835,-28.352867

In [95]:
pair_plot = False
x_vars = ["Ens", "Model1", "Model2", "Model3", "Model4", "Model5", "Model6", ]

if pair_plot:
    from ff_energy.uncertainty.plotter import corrfunc

    graph = sns.pairplot(df, x_vars=x_vars, 
                         y_vars=["Eref"], palette="husl", plot_kws={"alpha": 0.2});
    graph.map(corrfunc)

In [99]:
uq_ = UncertaintyQuantifier(df)

In [107]:
# uq_.calculate_uncertainty(keys=["mapie_uncertainty"])
# uq_.calculate_uncertainty(keys=["conformal_uncertainty"])
uq_.calculate_uncertainty(keys=["bayesian_uncertainty"])

sample: 100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 2000/2000 [03:05<00:00, 10.76it/s, 63 steps of size 2.99e-02. acc. prob=0.89]

In [108]:
plt.scatter(*uq_.conformal_uncertainty.T, s=0.1)

AttributeError: 'NoneType' object has no attribute 'T'

In [109]:
_ = uq_.conformal_uncertainty

In [110]:
np.mean(abs(_[0] - _[1]))

TypeError: 'NoneType' object is not subscriptable

In [111]:
uq_.bayesian_uncertainty.keys()

dict_keys(['predictions_scaled', 'residuals_scaled', 'df', 'unstandarize', 'residuals_unscaled'])

In [115]:
uq_.bayesian_uncertainty["residuals_unscaled"]

{'obs': Array([[-30.30261 , -29.55563 , -28.771975, ..., -29.00276 , -28.620108,
         -28.336721],
        [-30.30261 , -29.55563 , -28.771975, ..., -29.00276 , -28.620108,
         -28.336721],
        [-30.30261 , -29.55563 , -28.771975, ..., -29.00276 , -28.620108,
         -28.336721],
        ...,
        [-30.30261 , -29.55563 , -28.771975, ..., -29.00276 , -28.620108,
         -28.336721],
        [-30.30261 , -29.55563 , -28.771975, ..., -29.00276 , -28.620108,
         -28.336721],
        [-30.30261 , -29.55563 , -28.771975, ..., -29.00276 , -28.620108,
         -28.336721]], dtype=float32),
 'obs_mean': Array([-30.302612, -29.55563 , -28.771976, ..., -29.00276 , -28.620108,
        -28.336721], dtype=float32),
 'obs_hpdi': array([[-30.30261 , -29.55563 , -28.771975, ..., -29.00276 , -28.620108,
         -28.336721],
        [-30.30261 , -29.55563 , -28.771975, ..., -29.00276 , -28.620108,
         -28.336721]], dtype=float32),
 'obs_mean_hpdi': array([-30.682875, -24.829966], dtype=float32),
 'err': array([-27.301027, -26.554047, -25.770393, ..., -26.001177, -25.618525,
        -25.335138], dtype=float32)}

In [105]:
uq_.bayesian_uncertainty["residuals_scaled"]

{'obs': Array([[-1.1104465 , -0.7940094 , -0.46203676, ..., -0.55980176,
         -0.3977025 , -0.27765408],
        [-1.1104465 , -0.7940094 , -0.46203676, ..., -0.55980176,
         -0.3977025 , -0.27765408],
        [-1.1104465 , -0.7940094 , -0.46203676, ..., -0.55980176,
         -0.3977025 , -0.27765408],
        ...,
        [-1.1104465 , -0.7940094 , -0.46203676, ..., -0.55980176,
         -0.3977025 , -0.27765408],
        [-1.1104465 , -0.7940094 , -0.46203676, ..., -0.55980176,
         -0.3977025 , -0.27765408],
        [-1.1104465 , -0.7940094 , -0.46203676, ..., -0.55980176,
         -0.3977025 , -0.27765408]], dtype=float32),
 'obs_mean': Array([-1.1104468 , -0.7940096 , -0.46203688, ..., -0.5598018 ,
        -0.3977025 , -0.27765414], dtype=float32),
 'obs_hpdi': array([[-1.1104465 , -0.7940094 , -0.46203676, ..., -0.55980176,
         -0.3977025 , -0.27765408],
        [-1.1104465 , -0.7940094 , -0.46203676, ..., -0.55980176,
         -0.3977025 , -0.27765408]], dtype=float32),
 'obs_mean_hpdi': array([-1.2715341,  1.2078823], dtype=float32),
 'err': array([0.16108763, 0.4775247 , 0.80949736, ..., 0.7117323 , 0.8738316 ,
        0.99388003], dtype=float32)}

In [106]:
uq_.data

,Eref,Ens,Model1,Model2,Model3,Model4,Model5,Model6,TARGET,FIT,SE,FIT_scaled,TARGET_scaled,SE_scaled
0,-30.302610,-30.303969,-30.304491,-30.304039,-30.303816,-30.302113,-30.304005,-30.305349,-30.302610,-30.303969,0.012814,-1.115352,-1.110446,1.0
1,-29.555629,-29.556528,-29.553324,-29.556776,-29.560293,-29.550920,-29.560108,-29.557745,-29.555629,-29.556528,0.012814,-0.796191,-0.794009,1.0
2,-28.771974,-28.771562,-28.760334,-28.771938,-28.784126,-28.766819,-28.775587,-28.770569,-28.771974,-28.771562,0.012814,-0.461006,-0.462037,1.0
3,-28.264171,-28.267426,-28.245617,-28.263954,-28.294741,-28.272991,-28.266968,-28.260286,-28.264171,-28.267426,0.012814,-0.245737,-0.246921,1.0
4,-28.074606,-28.091652,-28.057587,-28.087101,-28.126707,-28.107737,-28.098137,-28.072643,-28.074606,-28.091652,0.012814,-0.170680,-0.166617,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33397,-29.668227,-29.669304,-29.667955,-29.669159,-29.670647,-29.668480,-29.672123,-29.667458,-29.668227,-29.669304,0.012814,-0.844347,-0.841708,1.0
33398,-29.431993,-29.432835,-29.433363,-29.432831,-29.431156,-29.433653,-29.436811,-29.429195,-29.431993,-29.432835,0.012814,-0.743373,-0.741635,1.0
33399,-29.002758,-29.006098,-29.007973,-29.004765,-29.003111,-29.010780,-29.007494,-29.002464,-29.002758,-29.006098,0.012814,-0.561154,-0.559802,1.0
33400,-28.620107,-28.628448,-28.628874,-28.625696,-28.629385,-28.635044,-28.623213,-28.628475,-28.620107,-28.628448,0.012814,-0.399895,-0.397702,1.0
33401,-28.336721,-28.340919,-28.332203,-28.340576,-28.336515,-28.347521,-28.335835,-28.352867,-28.336721,-28.340919,0.012814,-0.277119,-0.277654,1.0

In [86]:
# plt.scatter(*uq_.bayesian_uncertainty["residuals_unscaled"]["obs_hpdi"])